:root {
    --black: rgb(0, 0, 0);
    --orange: rgb(230, 159, 0);
    --skyblue: rgb(86, 180, 233);
    --bluishgreen: rgb(0, 158, 115);
    --yellow: rgb(240, 228, 66);
    --blue: rgb(0, 114, 178);
    --vermillion: rgb(213, 94, 0);
    --reddishpurple: rgb(204, 121, 167);
  
    --backgroundcolour: var(--skyblue);
    
  }

.parent {
height: 100vh;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
background-color: var(--backgroundcolour);
}

#link1 { grid-area: 2 / 2 / 4 / 3; }
#link2 { grid-area: 2 / 4 / 4 / 5; }

#credits { 
    grid-area: 5 / 2 / 6 / 5; 
    text-align: center;
    font-family: monospace;

}

#title { 
    grid-area: 1 / 2 / 2 / 5; 
    text-align: center;
    margin: auto;
    font-family: monospace;
    color: var(--vermillion);
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .links {
        width: 20vh;
        height: 20vh;
    }
    #title {
        font-size: 3em;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .links {
        width: 30vh;
        height: 30vh;
    }
    #title {
        font-size: 3em;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .links {
        width: 30vh;
        height: 30vh;
    }
    #title {
        font-size: 4em;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .links {
        width: 40vh;
        height: 40vh;
    }
    #title {
        font-size: 6em;
    }
 }
 
